# Supabase Configuration
SUPABASE_URL=https://qxxuowhzjtdafngmlsji.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4eHVvd2h6anRkYWZuZ21sc2ppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTY3NjcsImV4cCI6MjA4ODM3Mjc2N30.3c_6mTKeKBDNOOukhbSNlF7RG4nV9l5xfmvVHkasgig

# Auth Configuration
JWT_SECRET=/LasAiTVVhC066CeXfc4iis2qLTAkSxFG1larO/7wte+fix6W2CXb6Og3nUeXxfgEWj0WMtzBXFTEBLZa3dUTw==
